{% extends 'base.html.twig' %}

{% block title %}Trottinettes compatibles avec {{ accessory.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/products.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
{% endblock %}

{% block content %}
    <section class="section-pergo-list" id="pergo-list">
        <div class="title">
            <h1>Trottinettes compatibles avec {{ accessory.name }}</h1>
            <p>Découvrez toutes les trottinettes pour cet accessoire</p>
        </div>

        <div class="container-pergo-list pergo-list-center">
            {% for trott in trotinettes %}
                <div class="pergo-list-box" data-aos="fade" data-aos-duration="2000">
                    <a href="{{ path('app_trotinette_show', { slug: trott.slug }) }}">
                        <img src="/uploads/{{ trott.image }}" alt="{{ trott.name }}">
                    </a>
                    <p>{{ trott.name }}</p>
                </div>
            {% else %}
                <p style="text-align:center;">Aucune trottinette trouvée pour cet accessoire.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
